In [1]:
import numpy as np
import pandas as pd

In [2]:
from statsmodels.stats.weightstats import _zconfint_generic, _tconfint_generic

In [3]:
data = pd.read_csv('water.txt', delimiter='\t')

In [4]:
data.head()

  location        town  mortality  hardness
0    South        Bath       1247       105
1    North  Birkenhead       1668        17
2    South  Birmingham       1466         5
3    North   Blackburn       1800        14
4    North   Blackpool       1609        18

In [5]:
mortality = data.mortality

In [7]:
mortality

pandas.core.series.Series

In [26]:
t_conf = _tconfint_generic(mortality.mean(), (mortality.std(ddof=1)/np.sqrt(len(mortality))), len(mortality)-1, 0.05, 'two-sided')

In [27]:
t_conf

(1476.0833413552848, 1572.2117406119285)

Смертность в южных городах

In [13]:
only_south_data = data[data['location'] == 'South']

In [15]:
south_mortality = only_south_data.mortality

In [28]:
t_conf_south = _tconfint_generic(south_mortality.mean(),\
                                 (south_mortality.std(ddof=1)/np.sqrt(len(south_mortality))), len(south_mortality)-1, 0.05, 'two-sided')

In [29]:
t_conf_south

(1320.1517462936238, 1433.463638321761)

Смертность в южных городах

In [18]:
only_north_data = data[data['location'] == 'North']

In [19]:
north_mortality = only_north_data.mortality

In [31]:
t_conf_north = _tconfint_generic(north_mortality.mean(),\
                                 (north_mortality.std(ddof=1)/np.sqrt(len(north_mortality))), len(north_mortality)-1, 0.05, 'two-sided')

In [32]:
t_conf_north

(1586.5605251961385, 1680.6394748038613)

Интервалы смерностей не пересекаются для южных и северных городов

Теперь посмотрим, пересекаются ли 95% интервалы для жесткостей воды в северных и южных городах

In [33]:
def get_conf_interval(data, location, column_name, alpha):
    filtered_data = data[data['location'] == location]
    array = filtered_data[column_name]
    t_conf = _tconfint_generic(array.mean(),\
                                 (array.std(ddof=1)/np.sqrt(len(array))), len(array)-1, alpha, 'two-sided')
    return t_conf

In [34]:
hardness_south = get_conf_interval(data, 'South', 'hardness', 0.05)
hardness_north = get_conf_interval(data, 'North', 'hardness', 0.05)

In [35]:
print(hardness_south)
print(hardness_north)

(53.467198692036106, 86.07126284642544)
(21.42248728572426, 39.37751271427574)