In [1]:
import numpy as np
import pandas as pd
from sklearn.cluster import MeanShift

In [2]:
data = pd.read_table('checkins.dat', sep='|', skipinitialspace = True, header=[0], skiprows=[1], )
data.dropna(axis='rows', inplace=True)

/home/dmitrytrofimov/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3338: DtypeWarning: Columns (0) have mixed types.Specify dtype option on import or set low_memory=False.
  if (await self.run_code(code, result,  async_=asy)):

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 396634 entries, 1 to 1021964
Data columns (total 6 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   id                396634 non-null  object
 1   user_id           396634 non-null  float64
 2   venue_id          396634 non-null  float64
 3   latitude          396634 non-null  float64
 4   longitude         396634 non-null  float64
 5   created_at        396634 non-null  object
dtypes: float64(4), object(2)
memory usage: 21.2+ MB

In [6]:
data.head()

,id,user_id,venue_id,latitude,longitude,created_at
1,984222,15824.0,5222.0,38.895112,-77.036366,2012-04-21 17:43:47
3,984234,44652.0,5222.0,33.800745,-84.410520,2012-04-21 17:43:43
7,984291,105054.0,5222.0,45.523452,-122.676207,2012-04-21 17:39:22
9,984318,2146539.0,5222.0,40.764462,-111.904565,2012-04-21 17:35:46
10,984232,93870.0,380645.0,33.448377,-112.074037,2012-04-21 17:38:18

In [7]:
X = data.iloc[:100000]

In [14]:
X[['latitude', 'longitude']]

         latitude   longitude
1       38.895112  -77.036366
3       33.800745  -84.410520
7       45.523452 -122.676207
9       40.764462 -111.904565
10      33.448377 -112.074037
...           ...         ...
233788  33.575000 -117.725556
233789  37.629349 -122.400087
233793  29.762884  -95.383061
233797  32.802955  -96.769923
233798  37.774929 -122.419415

[100000 rows x 2 columns]

In [12]:
X.rename(columns={'id    ': 'id', 'user_id ':'user_id', 'venue_id ':'venue_id',\
                  'latitude      ':'latitude', 'longitude     ':'longitude','created_at      ':'created_at'}, inplace=True)

/home/dmitrytrofimov/anaconda3/lib/python3.8/site-packages/pandas/core/frame.py:4296: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(

In [15]:
bandwidth = 0.1
clustering = MeanShift(bandwidth=bandwidth).fit(X[['latitude', 'longitude']])

In [22]:
unique, counts = np.unique(clustering.labels_, return_counts=True)

In [23]:
labels_counts = dict(zip(unique, counts))

In [25]:
labels_counts_filtered = {k:v for k,v in labels_counts.items() if v > 15}

In [26]:
labels_counts_filtered

{0: 12506,
 1: 4692,
 2: 3994,
 3: 3363,
 4: 3526,
 5: 2409,
 6: 2297,
 7: 1601,
 8: 1526,
 9: 1378,
 10: 1298,
 11: 1081,
 12: 1006,
 13: 1007,
 14: 714,
 15: 868,
 16: 870,
 17: 645,
 18: 808,
 19: 807,
 20: 612,
 21: 722,
 22: 754,
 23: 747,
 24: 539,
 25: 656,
 26: 580,
 27: 577,
 28: 679,
 29: 564,
 30: 594,
 31: 907,
 32: 449,
 33: 502,
 34: 452,
 35: 104,
 36: 431,
 37: 410,
 38: 388,
 39: 400,
 40: 369,
 41: 367,
 42: 384,
 43: 347,
 44: 345,
 45: 342,
 46: 314,
 47: 273,
 48: 314,
 49: 316,
 50: 355,
 51: 281,
 52: 336,
 53: 271,
 54: 293,
 55: 246,
 56: 263,
 57: 258,
 58: 254,
 59: 243,
 60: 229,
 61: 291,
 62: 182,
 63: 155,
 64: 137,
 65: 186,
 66: 193,
 67: 197,
 68: 196,
 69: 191,
 70: 189,
 71: 187,
 72: 203,
 73: 178,
 74: 192,
 75: 169,
 76: 173,
 77: 153,
 78: 157,
 79: 220,
 80: 199,
 81: 164,
 82: 162,
 83: 126,
 84: 155,
 85: 152,
 86: 56,
 87: 100,
 88: 141,
 89: 142,
 90: 190,
 91: 117,
 92: 138,
 93: 135,
 94: 133,
 95: 131,
 96: 134,
 97: 122,
 98: 130,
 99: 132,
 100: 109,
 101: 135,
 102: 135,
 103: 120,
 104: 119,
 105: 116,
 106: 110,
 107: 91,
 108: 114,
 109: 79,
 110: 114,
 111: 98,
 112: 112,
 113: 67,
 114: 74,
 115: 110,
 116: 126,
 117: 106,
 118: 110,
 119: 74,
 120: 103,
 121: 102,
 122: 101,
 123: 100,
 124: 85,
 125: 99,
 126: 72,
 127: 99,
 128: 118,
 129: 98,
 130: 27,
 131: 84,
 132: 95,
 133: 99,
 134: 95,
 135: 97,
 136: 97,
 137: 92,
 138: 91,
 139: 103,
 140: 71,
 141: 95,
 142: 87,
 143: 99,
 144: 95,
 145: 85,
 146: 33,
 147: 121,
 148: 65,
 149: 78,
 150: 83,
 151: 81,
 152: 101,
 153: 61,
 154: 79,
 155: 79,
 156: 79,
 157: 78,
 158: 84,
 159: 42,
 160: 78,
 161: 57,
 162: 68,
 163: 74,
 164: 63,
 165: 76,
 166: 76,
 167: 80,
 168: 56,
 169: 52,
 170: 74,
 171: 74,
 172: 74,
 173: 51,
 174: 73,
 175: 71,
 176: 76,
 177: 77,
 178: 69,
 179: 78,
 180: 69,
 181: 69,
 182: 68,
 183: 44,
 184: 68,
 185: 50,
 186: 67,
 187: 67,
 188: 66,
 189: 65,
 190: 66,
 191: 59,
 192: 36,
 193: 64,
 194: 53,
 195: 63,
 196: 54,
 197: 63,
 198: 63,
 199: 84,
 200: 43,
 201: 62,
 202: 61,
 203: 61,
 204: 61,
 205: 61,
 206: 58,
 207: 60,
 208: 24,
 209: 46,
 210: 50,
 211: 56,
 212: 58,
 213: 58,
 214: 57,
 215: 58,
 216: 57,
 217: 56,
 218: 48,
 219: 56,
 220: 56,
 221: 56,
 222: 42,
 223: 55,
 224: 57,
 225: 37,
 226: 38,
 227: 82,
 228: 54,
 229: 37,
 230: 52,
 231: 134,
 232: 51,
 233: 53,
 234: 53,
 235: 58,
 236: 52,
 237: 50,
 238: 38,
 239: 50,
 240: 42,
 241: 51,
 242: 44,
 243: 50,
 244: 50,
 245: 52,
 246: 50,
 247: 50,
 248: 49,
 249: 52,
 250: 36,
 251: 50,
 252: 49,
 253: 50,
 254: 48,
 255: 49,
 256: 44,
 257: 46,
 258: 58,
 259: 44,
 260: 47,
 261: 38,
 262: 47,
 263: 38,
 264: 49,
 265: 49,
 266: 46,
 267: 40,
 268: 46,
 269: 46,
 270: 45,
 271: 43,
 272: 45,
 273: 49,
 274: 44,
 275: 45,
 276: 45,
 277: 45,
 278: 44,
 279: 45,
 280: 16,
 281: 40,
 282: 32,
 283: 43,
 284: 45,
 285: 47,
 286: 45,
 287: 42,
 288: 42,
 289: 44,
 290: 42,
 291: 37,
 292: 42,
 293: 43,
 294: 36,
 295: 51,
 296: 41,
 297: 41,
 298: 41,
 299: 40,
 300: 40,
 301: 33,
 302: 53,
 303: 40,
 304: 40,
 305: 59,
 306: 39,
 307: 37,
 308: 24,
 309: 41,
 310: 35,
 311: 30,
 312: 39,
 313: 38,
 314: 38,
 315: 59,
 316: 32,
 317: 38,
 318: 42,
 319: 38,
 320: 38,
 321: 37,
 322: 41,
 323: 35,
 324: 35,
 325: 37,
 326: 38,
 327: 37,
 328: 33,
 329: 36,
 330: 43,
 331: 36,
 332: 36,
 333: 36,
 334: 35,
 335: 24,
 337: 35,
 338: 35,
 339: 37,
 340: 34,
 341: 27,
 342: 34,
 343: 35,
 344: 46,
 345: 34,
 346: 33,
 347: 34,
 348: 34,
 349: 35,
 350: 34,
 351: 27,
 352: 37,
 353: 42,
 354: 33,
 355: 33,
 356: 33,
 357: 33,
 358: 33,
 359: 31,
 360: 37,
 361: 21,
 362: 37,
 363: 32,
 364: 46,
 365: 32,
 366: 32,
 367: 32,
 368: 32,
 369: 32,
 370: 31,
 371: 31,
 372: 31,
 373: 25,
 374: 17,
 375: 28,
 376: 31,
 377: 28,
 378: 31,
 379: 37,
 380: 31,
 381: 31,
 382: 31,
 383: 31,
 384: 28,
 385: 32,
 387: 30,
 388: 34,
 389: 30,
 390: 25,
 392: 32,
 393: 27,
 394: 32,
 395: 64,
 396: 29,
 397: 16,
 398: 29,
 399: 29,
 400: 29,
 401: 29,
 402: 29,
 403: 29,
 404: 28,
 405: 28,
 406: 28,
 407: 28,
 408: 24,
 409: 28,
 410: 25,
 411: 28,
 412: 26,
 413: 29,
 414: 28,
 415: 28,
 416: 28,
 417: 28,
 418: 28,
 419: 28,
 420: 28,
 421: 27,
 422: 27,
 423: 27,
 424: 27,
 425: 27,
 426: 28,
 427: 26,
 428: 27,
 429: 27,
 430: 27,
 431: 27,
 432: 27,
 433: 27,
 434: 26,
 435: 26,
 436: 26,
 437: 26,
 438: 25,
 439: 24,
 440: 26,
 441: 23,
 442: 26,
 443: 29,
 444: 26,
 445: 26,
 446: 27,
 447: 27,
 448: 26,
 449: 25,
 450: 16,
 451: 24,
 452: 19,
 453: 23,
 454: 25,
 455: 24,
 456: 25,
 457: 26,
 458: 24,
 459: 24,
 460: 24,
 461: 22,
 462: 20,
 463: 24,
 464: 24,
 465: 21,
 466: 26,
 467: 24,
 468: 32,
 469: 24,
 470: 23,
 471: 20,
 472: 23,
 473: 21,
 474: 23,
 475: 23,
 476: 23,
 477: 23,
 478: 23,
 480: 23,
 481: 23,
 482: 23,
 483: 23,
 484: 22,
 485: 22,
 486: 22,
 487: 22,
 488: 21,
 489: 22,
 490: 23,
 491: 24,
 492: 22,
 493: 22,
 494: 22,
 495: 22,
 496: 22,
 497: 22,
 498: 29,
 499: 22,
 500: 21,
 501: 31,
 502: 21,
 503: 21,
 504: 21,
 505: 21,
 506: 21,
 507: 21,
 508: 17,
 509: 21,
 510: 21,
 511: 20,
 512: 20,
 513: 17,
 514: 20,
 515: 20,
 517: 19,
 518: 20,
 519: 20,
 520: 20,
 521: 20,
 522: 19,
 523: 18,
 524: 19,
 525: 18,
 526: 21,
 527: 23,
 528: 19,
 529: 21,
 530: 19,
 531: 19,
 532: 19,
 533: 19,
 534: 19,
 535: 19,
 536: 19,
 537: 19,
 538: 19,
 539: 18,
 540: 18,
 541: 18,
 542: 18,
 544: 27,
 545: 18,
 546: 18,
 547: 18,
 549: 18,
 550: 18,
 551: 18,
 552: 18,
 553: 18,
 554: 18,
 555: 18,
 556: 21,
 557: 17,
 558: 17,
 559: 17,
 560: 17,
 561: 17,
 562: 17,
 564: 17,
 565: 17,
 566: 17,
 567: 17,
 568: 17,
 569: 17,
 571: 17,
 572: 16,
 573: 16,
 575: 16,
 576: 16,
 577: 16,
 578: 16,
 579: 16,
 581: 16,
 582: 22,
 583: 26,
 584: 17,
 585: 19,
 588: 16,
 589: 16,
 590: 16,
 591: 16,
 592: 16,
 593: 16,
 594: 16,
 595: 16,
 615: 17,
 636: 18,
 657: 16,
 672: 16,
 684: 19,
 727: 26,
 884: 23,
 1343: 21,
 1350: 19}

In [27]:
X['cluster'] = clustering.labels_

<ipython-input-27-a925b5bed6f9>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X['cluster'] = clustering.labels_

In [31]:
clusters_labels = labels_counts_filtered.keys()

In [36]:
centers = clustering.cluster_centers_

In [37]:
X['center_long'] = X.apply(lambda row: centers[row.cluster][0], axis=1)
X['center_lat'] = X.apply(lambda row: centers[row.cluster][1], axis=1)

<ipython-input-37-5a27d8e8b042>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X['center_long'] = X.apply(lambda row: centers[row.cluster][0], axis=1)
<ipython-input-37-5a27d8e8b042>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X['center_lat'] = X.apply(lambda row: centers[row.cluster][1], axis=1)

In [40]:
X

,id,user_id,venue_id,latitude,longitude,created_at,cluster,center_long,center_lat
1,984222,15824.0,5222.0,38.895112,-77.036366,2012-04-21 17:43:47,5,38.886165,-77.048783
3,984234,44652.0,5222.0,33.800745,-84.410520,2012-04-21 17:43:43,7,33.766636,-84.393289
7,984291,105054.0,5222.0,45.523452,-122.676207,2012-04-21 17:39:22,30,45.523483,-122.676280
9,984318,2146539.0,5222.0,40.764462,-111.904565,2012-04-21 17:35:46,65,40.759600,-111.896078
10,984232,93870.0,380645.0,33.448377,-112.074037,2012-04-21 17:38:18,1,33.449438,-112.002140
...,...,...,...,...,...,...,...,...,...
233788,123888,1019078.0,1105563.0,33.575000,-117.725556,2011-12-11 05:38:19,50,33.650896,-117.752074
233789,124366,771129.0,329847.0,37.629349,-122.400087,2011-12-11 04:55:34,4,37.688682,-122.409330
233793,125556,804990.0,254046.0,29.762884,-95.383061,2011-12-11 06:54:20,25,29.762698,-95.382314
233797,127250,526214.0,34473.0,32.802955,-96.769923,2011-12-11 10:05:38,19,32.803021,-96.769897
233798,127284,290973.0,280656.0,37.774929,-122.419415,2011-12-11 08:24:40,4,37.688682,-122.409330

In [41]:
offices = np.array([[33.751277, -118.188740],

[25.867736, -80.324116],

[51.503016, -0.075479],

[52.378894, 4.885084],

[39.366487, 117.036146],

[-33.868457, 151.205134]])

In [45]:
from scipy.spatial.distance import euclidean

In [47]:
def find_20_nearest(offices, clusters, cluster_centers):
    dict_cluster_mindist = {}
    for cluster in clusters:
        distances_to_offices = []
        for office in offices:
            distances_to_offices.append(euclidean(cluster_centers[cluster], office))
        dict_cluster_mindist[cluster] = min(distances_to_offices)
    return dict(sorted(dict_cluster_mindist.items(), key=lambda item: item[1]))

In [48]:
res_dict = find_20_nearest(offices, clusters_labels, centers)

In [56]:
nearest_20 = list(res_dict.items())[:20]

In [57]:
nearest_20

[(420, 0.007834758163107856),
 (370, 0.009353316185992226),
 (419, 0.022674066158385495),
 (58, 0.05005829482278787),
 (51, 0.07084773242719973),
 (29, 0.13410903336184654),
 (167, 0.16740596425035326),
 (92, 0.18887596060185083),
 (87, 0.19577945647763628),
 (42, 0.21181053682436798),
 (291, 0.2222332907317907),
 (320, 0.2713007595066735),
 (119, 0.2949788868004569),
 (55, 0.3022701186924605),
 (27, 0.3047305030784069),
 (11, 0.3148837903362732),
 (32, 0.3388104702511318),
 (159, 0.3408456533220572),
 (17, 0.37868750125029754),
 (47, 0.3867062248427277)]

In [61]:
answer = centers[420]

In [62]:
def write_ans(answer):
    with open('task1.txt', 'w') as task1:
        task1.write(' '.join(map(str, answer)))

In [63]:
write_ans(answer)