In [1]:
import numpy as np
import pandas as pd
import scipy.stats

Давайте вернёмся к данным выживаемости пациентов с лейкоцитарной лимфомой из видео про критерий знаков:

49, 58, 75, 110, 112, 132, 151, 276, 281, 362^*
49,58,75,110,112,132,151,276,281,362 
∗
 

Измерено остаточное время жизни с момента начала наблюдения (в неделях); звёздочка обозначает цензурирование сверху — исследование длилось 7 лет, и остаточное время жизни одного пациента, который дожил до конца наблюдения, неизвестно.

Поскольку цензурировано только одно наблюдение, для проверки гипотезы H_0\colon med X = 200H 
0
​	
 :medX=200 на этих данных можно использовать критерий знаковых рангов — можно считать, что время дожития последнего пациента в точности равно 362, на ранг этого наблюдения это никак не повлияет. 

Критерием знаковых рангов проверьте эту гипотезу против двусторонней альтернативы, введите достигаемый уровень значимости, округлённый до четырёх знаков после десятичной точки.


Для классификатора используйте solver='liblinear'
Укажите для критерия знаковых рангов Вилкоксона mode='approx'

Так как мы используем критерий знаковых рангов Уилкоксона, тут нужно задать только медиану: мы берём $2^n$ перестановок всех разностей $X_i - med$ и строим на этом распределение по сути.

In [2]:
weeks_until_death = np.array([49,58,75,110,112,132,151,276,281,362])
med = 200

$H_0: med X = med_0; H_1: med X \ne med_0$

In [4]:
scipy.stats.wilcoxon(weeks_until_death - med, mode='approx')

WilcoxonResult(statistic=17.0, pvalue=0.2845026979112075)

В ходе исследования влияния лесозаготовки на биоразнообразие лесов острова Борнео собраны данные о количестве видов деревьев в 12 лесах, где вырубка не ведётся:

22, 22, 15, 13, 19, 19, 18, 20, 21, 13, 13, 15,
22,22,15,13,19,19,18,20,21,13,13,15,

и в 9 лесах, где идёт вырубка:

17, 18, 18, 15, 12, 4, 14, 15, 10.
17,18,18,15,12,4,14,15,10.

Проверьте гипотезу о равенстве среднего количества видов в двух типах лесов против односторонней альтернативы о снижении биоразнообразия в вырубаемых лесах. Используйте ранговый критерий. Чему равен достигаемый уровень значимости? Округлите до четырёх знаков после десятичной точки.

In [6]:
full_forest = np.array([22, 22, 15, 13, 19, 19, 18, 20, 21, 13, 13, 15])
non_full_forest = np.array([17, 18, 18, 15, 12, 4, 14, 15, 10])
scipy.stats.mannwhitneyu(full_forest, non_full_forest, alternative='greater')

MannwhitneyuResult(statistic=81.0, pvalue=0.02900499272087373)

28 января 1986 года космический шаттл "Челленджер" взорвался при взлёте. Семь астронавтов, находившихся на борту, погибли. В ходе расследования причин катастрофы основной версией была неполадка с резиновыми уплотнительными кольцами в соединении с ракетными ускорителями. Для 23 предшествовавших катастрофе полётов "Челленджера" известны температура воздуха и появление повреждений хотя бы у одного из уплотнительных колец.
С помощью бутстрепа постройте 95% доверительный интервал для разности средних температур воздуха при запусках, когда уплотнительные кольца повреждались, и запусках, когда повреждений не было. Чему равна его ближайшая к нулю граница? Округлите до четырёх знаков после запятой.

Чтобы получить в точности такой же доверительный интервал, как у нас:

установите random seed = 0 перед первым вызовом функции get_bootstrap_samples, один раз
сделайте по 1000 псевдовыборок из каждой выборки.

In [14]:
data_6 = pd.read_csv('challenger.txt', delimiter='\t')

In [15]:
data_6.head()

  Unnamed: 0  Temperature  Incident
0   Apr12.81         18.9         0
1   Nov12.81         21.1         1
2   Mar22.82         20.6         0
3   Nov11.82         20.0         0
4   Apr04.83         19.4         0

In [16]:
data_6_incident = data_6[data_6['Incident'] == 1]
data_6_non_incident = data_6[data_6['Incident'] == 0]

In [17]:
data_6_incident

   Unnamed: 0  Temperature  Incident
1    Nov12.81         21.1         1
8    Feb03.84         13.9         1
9    Apr06.84         17.2         1
10   Aug30.84         21.1         1
13   Jan24.85         11.7         1
20   Oct30.85         23.9         1
22   Jan12.86         14.4         1

In [18]:
data_6_non_incident

   Unnamed: 0  Temperature  Incident
0    Apr12.81         18.9         0
2    Mar22.82         20.6         0
3    Nov11.82         20.0         0
4    Apr04.83         19.4         0
5    Jun18.83         22.2         0
6    Aug30.83         22.8         0
7    Nov28.83         21.1         0
11   Oct05.84         25.6         0
12   Nov08.84         19.4         0
14   Apr12.85         19.4         0
15   Apr29.85         23.9         0
16   Jun17.85         21.1         0
17   Jul29.85         27.2         0
18   Aug27.85         24.4         0
19   Oct03.85         26.1         0
21   Nov26.85         24.4         0

Эта двухвыборочный несвязный перестановочный критерий(?)

In [10]:
def get_random_combinations(n1, n2, max_combinations):
    index = list(range(n1 + n2))
    indices = set([tuple(index)])
    for i in range(max_combinations - 1):
         indices.add(tuple(np.random.permutation(index)))
    return [(index[:n1], index[n1:]) for index in indices]

In [11]:
combs = get_random_combinations(2,3,100)

In [13]:
def get_bootstrap_samples(data, n_samples):
    indices = np.random.randint(0, len(data), (n_samples, len(data)))
    samples = data[indices]
    return samples

In [21]:
n_samples = 1000
np.random.seed(0)
inc = get_bootstrap_samples(np.array(data_6_incident.Temperature), n_samples)
non_inc = get_bootstrap_samples(np.array(data_6_non_incident.Temperature), n_samples)

In [43]:
means_inc = map(np.mean, inc)
means_non_inc = map(np.mean, non_inc)
deltas = list(map(lambda x: x[1] - x[0], zip(means_inc, means_non_inc)))

In [44]:
len(deltas)

1000

In [45]:
def stat_intervals(stat, alpha):
    boundaries = np.percentile(stat, [100 * alpha / 2., 100 * (1 - alpha / 2.)])
    return boundaries

intervals = stat_intervals(deltas, 0.05)

In [46]:
intervals

array([1.45040179, 8.06457589])

In [47]:
def permutation_t_stat_ind(sample1, sample2):
    return np.mean(sample1) - np.mean(sample2)

In [48]:
def permutation_zero_dist_ind(sample1, sample2, max_combinations = None):
    joined_sample = np.hstack((sample1, sample2))
    n1 = len(sample1)
    n = len(joined_sample)
    
    if max_combinations:
        indices = get_random_combinations(n1, len(sample2), max_combinations)
    else:
        indices = [(list(index), filter(lambda i: i not in index, range(n))) \
                    for index in itertools.combinations(range(n), n1)]
    
    distr = [joined_sample[list(i[0])].mean() - joined_sample[list(i[1])].mean() \
             for i in indices]
    return distr

In [49]:
def permutation_test(sample, mean, max_permutations = None, alternative = 'two-sided'):
    if alternative not in ('two-sided', 'less', 'greater'):
        raise ValueError("alternative not recognized\n"
                         "should be 'two-sided', 'less' or 'greater'")
    
    t_stat = permutation_t_stat_ind(sample, mean)
    
    zero_distr = permutation_zero_dist_ind(sample, mean, max_permutations)
    
    if alternative == 'two-sided':
        return sum([1. if abs(x) >= abs(t_stat) else 0. for x in zero_distr]) / len(zero_distr)
    
    if alternative == 'less':
        return sum([1. if x <= t_stat else 0. for x in zero_distr]) / len(zero_distr)

    if alternative == 'greater':
        return sum([1. if x >= t_stat else 0. for x in zero_distr]) / len(zero_distr)

На данных предыдущей задачи проверьте гипотезу об одинаковой средней температуре воздуха в дни, когда уплотнительный кольца повреждались, и дни, когда повреждений не было. Используйте перестановочный критерий и двустороннюю альтернативу. Чему равен достигаемый уровень значимости? Округлите до четырёх знаков после десятичной точки. 

Чтобы получить такое же значение, как мы:

установите random seed = 0;
возьмите 10000 перестановок.

In [55]:
np.random.seed = 0
print("p-value: %f" % permutation_test(data_6_non_incident.Temperature, data_6_incident.Temperature, max_permutations = 10000))

p-value: 0.007600