In [1]:
import numpy as np
import pandas as pd

Есть ли связь между неграмотностью и рождаемостью? Для 94 стран, уровень неграмотности женщин в которых больше 5%, известны доля неграмотных среди женщин старше 15 (на 2003 год) и средняя рождаемость на одну женщину (на 2005 год). Чему равен выборочный коэффициент корреляции Пирсона между этими двумя признаками? Округлите до четырёх знаков после десятичной точки.

In [2]:
data = pd.read_csv('illiteracy.txt', delimiter='\t')

In [3]:
data.head()

   Country  Illit  Births
0  Albania   20.5    1.78
1  Algeria   39.1    2.44
2  Bahrain   15.0    2.34
3   Belize    5.9    2.97
4    Benin   73.5    5.60

In [6]:
correlation = data.corr()

In [7]:
correlation

           Illit    Births
Illit   1.000000  0.768663
Births  0.768663  1.000000

In [8]:
correlation_spearman = data.corr('spearman')

In [9]:
correlation_spearman

           Illit    Births
Illit   1.000000  0.752962
Births  0.752962  1.000000

Для 61 большого города в Англии и Уэльсе известны средняя годовая смертность на 100000 населения (по данным 1958–1964) и концентрация кальция в питьевой воде (в частях на маллион). Чем выше концентрация кальция, тем жёстче вода. Города дополнительно поделены на северные и южные.

Есть ли связь между жёсткостью воды и средней годовой смертностью? Посчитайте значение коэффициента корреляции Пирсона между этими признаками, округлите его до четырёх знаков после десятичной точки.

In [10]:
water = pd.read_csv('water.txt', delimiter='\t')

In [11]:
water.head()

  location        town  mortality  hardness
0    South        Bath       1247       105
1    North  Birkenhead       1668        17
2    South  Birmingham       1466         5
3    North   Blackburn       1800        14
4    North   Blackpool       1609        18

In [13]:
print(f'Water correlation:\n {water.corr()}')

Water correlation:
            mortality  hardness
mortality   1.000000 -0.654849
hardness   -0.654849  1.000000

In [16]:
corr_spearman = water.corr('spearman')
print(f'Water Spearman correlation:\n {corr_spearman}')

Water Spearman correlation:
            mortality  hardness
mortality   1.000000 -0.631665
hardness   -0.631665  1.000000

Pearson correlation for North cities:

In [17]:
water[water['location'] == 'North'].corr()

           mortality  hardness
mortality   1.000000 -0.368598
hardness   -0.368598  1.000000

Pearson correlation for South cities:

In [18]:
water[water['location'] == 'South'].corr()

           mortality  hardness
mortality   1.000000 -0.602153
hardness   -0.602153  1.000000

Среди респондентов General Social Survey 2014 года хотя бы раз в месяц проводят вечер в баре 203 женщины и 239 мужчин; реже, чем раз в месяц, это делают 718 женщин и 515 мужчин.  

Посчитайте значение коэффициента корреляции Мэтьюса между полом и частотой похода в бары. Округлите значение до трёх знаков после десятичной точки.

Matthews correlation:

$MCC_{X_1X_2} = \frac{ad - bc}{(a + b)(a + c)(b + d)(c + d)}$

In [26]:
a = 718
b = 203
c = 515
d = 239

In [27]:
MCC = (a*d - b*c)/((a+b)*(a + c)*(b + d)*(c + d))

In [28]:
MCC

1.7718534478963867e-07

In [29]:
import scipy.stats

In [30]:
table = np.array([[a,b],[c,d]])

In [31]:
table

array([[718, 203],
       [515, 239]])

In [32]:
scipy.stats.chi2_contingency(table)

(19.40753078854304,
 1.0558987006638725e-05,
 1,
 array([[677.96597015, 243.03402985],
        [555.03402985, 198.96597015]]))